In [2]:
import duckdb

# Connect to existing DuckDB
conn = duckdb.connect("weather.duckdb")

# Define columns to extract
selected_columns = [
    "CALL_SIGN", "CIG", "DATE", "DEW", "ELEVATION", "GF1", "LATITUDE", "LONGITUDE",
    "NAME", "STATION", "TMP", "VIS", "WND"
]

# Create a new table `potsdam_filtered` from `combined_weather`
create_filtered_table_sql = f"""
    CREATE OR REPLACE TABLE combined_filtered AS
    SELECT {', '.join(selected_columns)}
    FROM combined_weather
    WHERE STATION IN (
        '72518699999', '72622394725', '72622894740',
        '74370014715', '99822399999', '99843599999'
    )
"""
conn.execute(create_filtered_table_sql)

# Show first few rows of the new filtered table
result = conn.execute("SELECT * FROM combined_filtered LIMIT 5").fetchdf()
result

,CALL_SIGN,CIG,DATE,DEW,ELEVATION,GF1,LATITUDE,LONGITUDE,NAME,STATION,TMP,VIS,WND
0,OGS,"06600,1,E,N",1977-05-02T00:00:00,"+9999,9",90.52,"07,99,1,99,9,99,9,99999,9,99,9,99,9",44.681854,-75.4655,"OGDENSBURG INTERNATIONAL, NY US",72518699999,"+0194,1","011200,1,N,1","200,1,N,0025,1"
1,OGS,"06600,1,9,N",1977-05-02T01:00:00,"+9999,9",90.52,"07,99,1,99,9,99,9,99999,9,99,9,99,9",44.681854,-75.4655,"OGDENSBURG INTERNATIONAL, NY US",72518699999,"+0183,1","016000,1,N,1","190,1,N,0030,1"
2,OGS,"22000,1,9,N",1977-05-03T11:00:00,"+9999,9",90.52,"00,99,1,99,9,99,9,99999,9,99,9,99,9",44.681854,-75.4655,"OGDENSBURG INTERNATIONAL, NY US",72518699999,"+0033,1","011200,1,N,1","340,1,N,0041,1"
3,OGS,"22000,1,9,N",1977-05-03T21:00:00,"+9999,9",90.52,"00,99,1,99,9,99,9,99999,9,99,9,99,9",44.681854,-75.4655,"OGDENSBURG INTERNATIONAL, NY US",72518699999,"+0128,1","011200,1,N,1","280,1,N,0030,1"
4,OGS,"02400,1,E,N",1977-05-05T11:00:00,"+9999,9",90.52,"08,99,1,99,9,99,9,99999,9,99,9,99,9",44.681854,-75.4655,"OGDENSBURG INTERNATIONAL, NY US",72518699999,"+0083,1","011200,1,N,1","999,1,C,0000,1"

In [4]:
print(result.head())

  CALL_SIGN          CIG                 DATE      DEW ELEVATION  \
0     OGS    06600,1,E,N  1977-05-02T00:00:00  +9999,9     90.52
1     OGS    06600,1,9,N  1977-05-02T01:00:00  +9999,9     90.52
2     OGS    22000,1,9,N  1977-05-03T11:00:00  +9999,9     90.52
3     OGS    22000,1,9,N  1977-05-03T21:00:00  +9999,9     90.52
4     OGS    02400,1,E,N  1977-05-05T11:00:00  +9999,9     90.52

                                   GF1   LATITUDE LONGITUDE  \
0  07,99,1,99,9,99,9,99999,9,99,9,99,9  44.681854  -75.4655
1  07,99,1,99,9,99,9,99999,9,99,9,99,9  44.681854  -75.4655
2  00,99,1,99,9,99,9,99999,9,99,9,99,9  44.681854  -75.4655
3  00,99,1,99,9,99,9,99999,9,99,9,99,9  44.681854  -75.4655
4  08,99,1,99,9,99,9,99999,9,99,9,99,9  44.681854  -75.4655

                              NAME      STATION      TMP           VIS  \
0  OGDENSBURG INTERNATIONAL, NY US  72518699999  +0194,1  011200,1,N,1
1  OGDENSBURG INTERNATIONAL, NY US  72518699999  +0183,1  016000,1,N,1
2  OGDENSBURG INTERNATIONAL, NY US  72518699999  +0033,1  011200,1,N,1
3  OGDENSBURG INTERNATIONAL, NY US  72518699999  +0128,1  011200,1,N,1
4  OGDENSBURG INTERNATIONAL, NY US  72518699999  +0083,1  011200,1,N,1

              WND
0  200,1,N,0025,1
1  190,1,N,0030,1
2  340,1,N,0041,1
3  280,1,N,0030,1
4  999,1,C,0000,1

In [ ]:
# SQL to create a cleaned table from potsdam_filtered
create_cleaned_table_sql = """
CREATE OR REPLACE TABLE combined_cleaned AS
SELECT
    CALL_SIGN,
    CIG,
    DATE,
    TRY_CAST(REPLACE(split_part(DEW, ',', 1), '+', '') AS DOUBLE) / 10 AS DEW_C,
    TRY_CAST(ELEVATION AS DOUBLE) AS ELEVATION_M,
    GF1,
    TRY_CAST(LATITUDE AS DOUBLE) AS LAT,
    TRY_CAST(LONGITUDE AS DOUBLE) AS LON,
    NAME,
    STATION,
    TRY_CAST(REPLACE(split_part(TMP, ',', 1), '+', '') AS DOUBLE) / 10 AS TEMP_C,
    TRY_CAST(REPLACE(split_part(VIS, ',', 1), '+', '') AS DOUBLE) AS VIS_M,
    WND
FROM combined_filtered
WHERE TMP IS NOT NULL AND TMP NOT LIKE '+9999%'
"""

# Execute the table creation
conn.execute(create_cleaned_table_sql)

# Preview first few cleaned records
cleaned_preview = conn.execute("SELECT * FROM combined_cleaned LIMIT 1000").fetchdf()
cleaned_preview

,CALL_SIGN,CIG,DATE,DEW_C,ELEVATION_M,GF1,LAT,LON,NAME,STATION,TEMP_C,VIS_M,WND
0,OGS,"06600,1,E,N",1977-05-02T00:00:00,999.9,90.52,"07,99,1,99,9,99,9,99999,9,99,9,99,9",44.681854,-75.4655,"OGDENSBURG INTERNATIONAL, NY US",72518699999,19.4,11200.0,"200,1,N,0025,1"
1,OGS,"06600,1,9,N",1977-05-02T01:00:00,999.9,90.52,"07,99,1,99,9,99,9,99999,9,99,9,99,9",44.681854,-75.4655,"OGDENSBURG INTERNATIONAL, NY US",72518699999,18.3,16000.0,"190,1,N,0030,1"
2,OGS,"22000,1,9,N",1977-05-03T11:00:00,999.9,90.52,"00,99,1,99,9,99,9,99999,9,99,9,99,9",44.681854,-75.4655,"OGDENSBURG INTERNATIONAL, NY US",72518699999,3.3,11200.0,"340,1,N,0041,1"
3,OGS,"22000,1,9,N",1977-05-03T21:00:00,999.9,90.52,"00,99,1,99,9,99,9,99999,9,99,9,99,9",44.681854,-75.4655,"OGDENSBURG INTERNATIONAL, NY US",72518699999,12.8,11200.0,"280,1,N,0030,1"
4,OGS,"02400,1,E,N",1977-05-05T11:00:00,999.9,90.52,"08,99,1,99,9,99,9,99999,9,99,9,99,9",44.681854,-75.4655,"OGDENSBURG INTERNATIONAL, NY US",72518699999,8.3,11200.0,"999,1,C,0000,1"

In [16]:
sql = """select * from combined_cleaned"""

result = conn.execute(sql).fetchdf()
print(result.head(20))

   CALL_SIGN          CIG                 DATE  DEW_C  ELEVATION_M  \
0      OGS    06600,1,E,N  1977-05-02T00:00:00  999.9        90.52
1      OGS    06600,1,9,N  1977-05-02T01:00:00  999.9        90.52
2      OGS    22000,1,9,N  1977-05-03T11:00:00  999.9        90.52
3      OGS    22000,1,9,N  1977-05-03T21:00:00  999.9        90.52
4      OGS    02400,1,E,N  1977-05-05T11:00:00  999.9        90.52
5      OGS    22000,1,9,N  1977-05-11T16:00:00  999.9        90.52
6      OGS    03000,1,9,N  1977-05-12T19:00:00  999.9        90.52
7      OGS    22000,1,9,N  1977-05-21T12:00:00  999.9        90.52
8      OGS    04500,1,9,N  1977-05-22T13:00:00  999.9        90.52
9      OGS    03000,1,E,N  1977-05-22T15:00:00  999.9        90.52
10     OGS    22000,1,9,N  1977-05-22T16:00:00  999.9        90.52
11     OGS    22000,1,9,N  1977-05-27T00:00:00  999.9        90.52
12     OGS    22000,1,9,N  1977-05-29T13:00:00  999.9        90.52
13     OGS    22000,1,9,N  1977-05-29T18:00:00  999.9        90.52
14     OGS    22000,1,9,N  1977-05-31T11:00:00  999.9        90.52
15     OGS    00900,1,E,N  1977-06-05T17:00:00  999.9        90.52
16     OGS    00900,1,E,N  1977-06-05T19:00:00  999.9        90.52
17     OGS    04500,1,9,N  1977-06-06T19:00:00  999.9        90.52
18     OGS    03600,1,9,N  1977-06-06T21:00:00  999.9        90.52
19     OGS    00600,1,E,N  1977-06-07T21:00:00  999.9        90.52

                                    GF1        LAT      LON  \
0   07,99,1,99,9,99,9,99999,9,99,9,99,9  44.681854 -75.4655
1   07,99,1,99,9,99,9,99999,9,99,9,99,9  44.681854 -75.4655
2   00,99,1,99,9,99,9,99999,9,99,9,99,9  44.681854 -75.4655
3   00,99,1,99,9,99,9,99999,9,99,9,99,9  44.681854 -75.4655
4   08,99,1,99,9,99,9,99999,9,99,9,99,9  44.681854 -75.4655
5   02,99,1,99,9,99,9,99999,9,99,9,99,9  44.681854 -75.4655
6   08,99,1,99,9,99,9,99999,9,99,9,99,9  44.681854 -75.4655
7   00,99,1,99,9,99,9,99999,9,99,9,99,9  44.681854 -75.4655
8   07,99,1,99,9,99,9,99999,9,99,9,99,9  44.681854 -75.4655
9   07,99,1,99,9,99,9,99999,9,99,9,99,9  44.681854 -75.4655
10  02,99,1,99,9,99,9,99999,9,99,9,99,9  44.681854 -75.4655
11  02,99,1,99,9,99,9,99999,9,99,9,99,9  44.681854 -75.4655
12  02,99,1,99,9,99,9,99999,9,99,9,99,9  44.681854 -75.4655
13  02,99,1,99,9,99,9,99999,9,99,9,99,9  44.681854 -75.4655
14  00,99,1,99,9,99,9,99999,9,99,9,99,9  44.681854 -75.4655
15  07,99,1,99,9,99,9,99999,9,99,9,99,9  44.681854 -75.4655
16  07,99,1,99,9,99,9,99999,9,99,9,99,9  44.681854 -75.4655
17  07,99,1,99,9,99,9,99999,9,99,9,99,9  44.681854 -75.4655
18  07,99,1,99,9,99,9,99999,9,99,9,99,9  44.681854 -75.4655
19  08,99,1,99,9,99,9,99999,9,99,9,99,9  44.681854 -75.4655

                               NAME      STATION  TEMP_C     VIS_M  \
0   OGDENSBURG INTERNATIONAL, NY US  72518699999    19.4   11200.0
1   OGDENSBURG INTERNATIONAL, NY US  72518699999    18.3   16000.0
2   OGDENSBURG INTERNATIONAL, NY US  72518699999     3.3   11200.0
3   OGDENSBURG INTERNATIONAL, NY US  72518699999    12.8   11200.0
4   OGDENSBURG INTERNATIONAL, NY US  72518699999     8.3   11200.0
5   OGDENSBURG INTERNATIONAL, NY US  72518699999    15.0   11200.0
6   OGDENSBURG INTERNATIONAL, NY US  72518699999    17.2   11200.0
7   OGDENSBURG INTERNATIONAL, NY US  72518699999    18.9    8000.0
8   OGDENSBURG INTERNATIONAL, NY US  72518699999    22.2    8000.0
9   OGDENSBURG INTERNATIONAL, NY US  72518699999    26.1    9600.0
10  OGDENSBURG INTERNATIONAL, NY US  72518699999    26.7   11200.0
11  OGDENSBURG INTERNATIONAL, NY US  72518699999    21.7   11200.0
12  OGDENSBURG INTERNATIONAL, NY US  72518699999     9.4   11200.0
13  OGDENSBURG INTERNATIONAL, NY US  72518699999    17.2   11200.0
14  OGDENSBURG INTERNATIONAL, NY US  72518699999    11.7  999999.0
15  OGDENSBURG INTERNATIONAL, NY US  72518699999    18.9   11200.0
16  OGDENSBURG INTERNATIONAL, NY US  72518699999    20.6   11200.0
17  OGDENSBURG INTERNATIONAL, NY US  72518699999    16.7   11200.0
18  OGDENSBURG INTERNATIONAL, NY US  72518699999    18.9   11200.0
19  OGDENSBURG INTERNATIONAL, NY US  72518699999    10.6   11200.0

               WND
0   200,1,N,0025,1
1   190,1,N,0030,1
2   340,1,N,0041,1
3   280,1,N,0030,1
4   999,1,C,0000,1
5   330,1,N,0020,1
6   220,1,N,0030,1
7   180,1,N,0010,1
8   210,1,N,0030,1
9   220,1,N,0041,1
10  210,1,N,0030,1
11  280,1,N,0025,1
12  040,1,N,0036,1
13  010,1,N,0072,1
14  999,1,C,0000,1
15  330,1,N,0066,1
16  999,9,9,9999,9
17  010,1,N,0051,1
18  320,1,N,0051,1
19  310,1,N,0061,1

In [28]:
from geopy.distance import geodesic

# Potsdam Coordinates
potsdam_coords = (44.676048, -74.9813)

# Step 1: Get STATION, LAT, LON from DuckDB directly
stations = conn.execute("""
    SELECT DISTINCT STATION, LAT, LON
    FROM combined_cleaned
    WHERE LAT IS NOT NULL AND LON IS NOT NULL
""").fetchall()

In [29]:
# Step 2: Compute normalized weights in Python
weights = {}
for station_id, lat, lon in stations:
    dist_km = geodesic(potsdam_coords, (lat, lon)).km
    weights[station_id] = 1 / max(dist_km**2, 0.0001)

# Normalize
total_weight = sum(weights.values())
normalized_weights = {sid: w / total_weight for sid, w in weights.items()}

In [30]:
# Step 3: Create a temporary weights table in DuckDB
conn.execute("DROP TABLE IF EXISTS station_weights")
conn.execute("CREATE TABLE station_weights (STATION VARCHAR, WEIGHT DOUBLE)")
for sid, weight in normalized_weights.items():
    conn.execute("INSERT INTO station_weights VALUES (?, ?)", [sid, weight])

In [41]:
# Step 4: Interpolation via SQL only (in-database)
interpolation_sql = """
CREATE OR REPLACE TABLE potsdam_weather_final AS
SELECT
    c.DATE,

    -- IDW-weighted average TEMP_C
    SUM(c.TEMP_C * w.WEIGHT) /
    NULLIF(SUM(w.WEIGHT) FILTER (WHERE c.TEMP_C < 999), 0) AS TEMP_C,

    -- Plain average DEW_C and VIS_M
    AVG(NULLIF(c.DEW_C, 999)) AS DEW_C,
    AVG(NULLIF(c.VIS_M, 999999)) AS VIS_M,

    -- IDW-weighted average ELEVATION
    SUM(c.ELEVATION_M * w.WEIGHT) /
    NULLIF(SUM(w.WEIGHT) FILTER (WHERE c.ELEVATION_M < 999), 0) AS ELEVATION_M,

    -- Static Potsdam metadata
    44.676048 AS LAT,
    -74.9813 AS LON,
    'POTSDAM, NY, USA' AS NAME

FROM combined_cleaned c
JOIN station_weights w ON c.STATION = w.STATION
GROUP BY c.DATE
ORDER BY c.DATE;
"""

In [42]:
# Step 5: Execute interpolation
conn.execute(interpolation_sql)

# Step 6: Preview final output
preview = conn.execute("SELECT * FROM potsdam_weather_final LIMIT 30").fetchdf()
print(preview)

                   DATE  TEMP_C  DEW_C    VIS_M  ELEVATION_M        LAT  \
0   1977-05-02T00:00:00    19.4  999.9  11200.0        90.52  44.676048
1   1977-05-02T01:00:00    18.3  999.9  16000.0        90.52  44.676048
2   1977-05-03T11:00:00     3.3  999.9  11200.0        90.52  44.676048
3   1977-05-03T21:00:00    12.8  999.9  11200.0        90.52  44.676048
4   1977-05-05T11:00:00     8.3  999.9  11200.0        90.52  44.676048
5   1977-05-11T16:00:00    15.0  999.9  11200.0        90.52  44.676048
6   1977-05-12T19:00:00    17.2  999.9  11200.0        90.52  44.676048
7   1977-05-21T12:00:00    18.9  999.9   8000.0        90.52  44.676048
8   1977-05-22T13:00:00    22.2  999.9   8000.0        90.52  44.676048
9   1977-05-22T15:00:00    26.1  999.9   9600.0        90.52  44.676048
10  1977-05-22T16:00:00    26.7  999.9  11200.0        90.52  44.676048
11  1977-05-27T00:00:00    21.7  999.9  11200.0        90.52  44.676048
12  1977-05-29T13:00:00     9.4  999.9  11200.0        90.52  44.676048
13  1977-05-29T18:00:00    17.2  999.9  11200.0        90.52  44.676048
14  1977-05-31T11:00:00    11.7  999.9      NaN        90.52  44.676048
15  1977-06-05T17:00:00    18.9  999.9  11200.0        90.52  44.676048
16  1977-06-05T19:00:00    20.6  999.9  11200.0        90.52  44.676048
17  1977-06-06T19:00:00    16.7  999.9  11200.0        90.52  44.676048
18  1977-06-06T21:00:00    18.9  999.9  11200.0        90.52  44.676048
19  1977-06-07T21:00:00    10.6  999.9  11200.0        90.52  44.676048
20  1977-06-13T00:00:00    16.1  999.9  11200.0        90.52  44.676048
21  1977-06-13T01:00:00    16.1  999.9  11200.0        90.52  44.676048
22  1977-06-14T15:00:00    19.4  999.9  11200.0        90.52  44.676048
23  1977-06-15T15:00:00    22.2  999.9  11200.0        90.52  44.676048
24  1977-06-25T11:00:00    18.9  999.9   4800.0        90.52  44.676048
25  1977-07-02T12:00:00    16.7  999.9  11200.0        90.52  44.676048
26  1977-07-02T13:00:00    16.7  999.9  11200.0        90.52  44.676048
27  1977-07-03T13:00:00    16.7  999.9  11200.0        90.52  44.676048
28  1977-07-10T13:00:00    16.7  999.9  11200.0        90.52  44.676048
29  1977-07-10T14:00:00    20.0  999.9  11200.0        90.52  44.676048

        LON              NAME
0  -74.9813  POTSDAM, NY, USA
1  -74.9813  POTSDAM, NY, USA
2  -74.9813  POTSDAM, NY, USA
3  -74.9813  POTSDAM, NY, USA
4  -74.9813  POTSDAM, NY, USA
5  -74.9813  POTSDAM, NY, USA
6  -74.9813  POTSDAM, NY, USA
7  -74.9813  POTSDAM, NY, USA
8  -74.9813  POTSDAM, NY, USA
9  -74.9813  POTSDAM, NY, USA
10 -74.9813  POTSDAM, NY, USA
11 -74.9813  POTSDAM, NY, USA
12 -74.9813  POTSDAM, NY, USA
13 -74.9813  POTSDAM, NY, USA
14 -74.9813  POTSDAM, NY, USA
15 -74.9813  POTSDAM, NY, USA
16 -74.9813  POTSDAM, NY, USA
17 -74.9813  POTSDAM, NY, USA
18 -74.9813  POTSDAM, NY, USA
19 -74.9813  POTSDAM, NY, USA
20 -74.9813  POTSDAM, NY, USA
21 -74.9813  POTSDAM, NY, USA
22 -74.9813  POTSDAM, NY, USA
23 -74.9813  POTSDAM, NY, USA
24 -74.9813  POTSDAM, NY, USA
25 -74.9813  POTSDAM, NY, USA
26 -74.9813  POTSDAM, NY, USA
27 -74.9813  POTSDAM, NY, USA
28 -74.9813  POTSDAM, NY, USA
29 -74.9813  POTSDAM, NY, USA

In [44]:
sql = """select distinct dew_c from potsdam_weather_final"""

result = conn.execute(sql).fetchdf()
print(result)

           DEW_C
0      13.300000
1      20.300000
2       8.700000
3      11.200000
4      22.100000
...          ...
2093  -38.300000
2094    7.333333
2095    6.300000
2096  499.300000
2097  500.350000

[2098 rows x 1 columns]

In [46]:
sql = """select count(*) from potsdam_weather_final"""
result = conn.execute(sql).fetchdf()
print(result)

   count_star()
0       1168675

In [3]:
import duckdb

# Connect to DuckDB
con = duckdb.connect('weather.duckdb')

# Each query must be executed separately
con.execute("CREATE OR REPLACE TABLE temp_trend AS SELECT DATE, TEMP_C FROM potsdam_weather_final;")

con.execute("CREATE OR REPLACE TABLE vis_trend AS SELECT DATE, VIS_M FROM potsdam_weather_final;")

con.execute("CREATE OR REPLACE TABLE dew_cleaned AS SELECT DATE, DEW_C FROM potsdam_weather_final WHERE DEW_C != 999.9;")

con.execute("""
CREATE OR REPLACE TABLE daily_avg_temp AS 
SELECT DATE_TRUNC('day', CAST(DATE AS TIMESTAMP)) AS day, AVG(TEMP_C) AS avg_temp 
FROM potsdam_weather_final 
GROUP BY day;
""")

con.execute("""
CREATE OR REPLACE TABLE daily_min_max_temp AS 
SELECT DATE_TRUNC('day', CAST(DATE AS TIMESTAMP)) AS day, 
       MIN(TEMP_C) AS min_temp, 
       MAX(TEMP_C) AS max_temp 
FROM potsdam_weather_final 
GROUP BY day;
""")

con.execute("""
CREATE OR REPLACE TABLE temp_vs_vis AS 
SELECT TEMP_C, VIS_M 
FROM potsdam_weather_final 
WHERE TEMP_C IS NOT NULL AND VIS_M IS NOT NULL;
""")

con.execute("CREATE OR REPLACE TABLE temp_only AS SELECT TEMP_C FROM potsdam_weather_final;")